<!DOCTYPE html>
<html>

<head>
  <title> </title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body>
  <div class="sidenav">
    <img class="logo" src="images/logo4.png">
    <!-- <h2 id="logo_text">SNACK</h2> -->
    <br>
    <button id="add_room_btn">Lägg till rum!</button>
    <a href="#"># Main Channel</a>

    <br>
    <hr>
    <br>

    <!-- Side navigation-->

    <!-- Image uploadpart -->
    <div class="formContainer">
      <%= typeof msg != 'undefined' ? msg : '' %>
      <h3 class="formH3 uploadH3">Upload an image</h3>
      <form id="formUpload" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="myImage">
        <button id="upload_btn" type="submit">Upload</button>
        <div id="imageContainer">
          <img src="<%= typeof file != 'undefined' ? file : '' %>" alt="profilepic"
            onerror="this.style.display = 'none'">
        </div>
      </form>
    </div><BR>
    <!-- Image uploadpart ENDS here -->


    <h2>USERS</h2>
    <div id="useronline">
      <% for(let i=0; i < data.length; i++){ %>
      <a>
        <li><i id="person" class="fas fa-user"></i><%= data[i].username %></li>
      </a>
      <% } %>
    </div>
  </div>

  <div id="chat_container">
    <!-- Main -->
    <div class="main">
      <div id="chatbox">
        <div id="msg-cont">
          <% for(let i=0; i < message.length; i++){ %>
          <div class="chatbox_output">
            <%= message[i].name %>
            <%= "earlier said:" %>
            <%= message[i].message %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
      <!-- Chat input -->
      <form method="POST" id="snd-cont" name="" action="/chat">
        <input id="msg-inp" type="text" name="msg-inp" placeholder="Skriv ditt meddelande.."></input><button
          id="snd-btn" type="submit">Skicka</button>
      </form>
    
  </div>

  <script src="https://kit.fontawesome.com/692051db43.js" crossorigin="anonymous"></script>
</body>

</html>