<!DOCTYPE html>
<html>

<head>
    <title> </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script defer src="script.js"></script>
    <script>
        const roomName = '<%= roomName %>'
    </script>
</head>

<body>
    <!-- Head navigation -->


    <div class="sidenav">

        <img id="side_logo" src="images/talck_logo.png">
        <h2 id="logo_text">SNACK</h2>
        <br>
        <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">Lägg till rum!</button>
    </form>
    <ul>
                
        <% for(let i=0; i < rooms.length; i++){ %>
        <li> <a href="/<%= rooms[i].roomname %>"><%= rooms[i].roomname %></li></a>
        <% } %>
    </ul>
        <a href="#">#Channel</a>
        <a href="#">#Skitsnack</a>
        <div id="room-cont"></div>
        <hr>
        <br>
        <!-- Side navigation-->
        

        <form action="/room" method="POST">
            <ul>
                
                <% for(let i=0; i < data.length; i++){ %>
                <li> <a href="/<%= data[i].username %>"><%= data[i].username %></li></a>
                <% } %>
            </ul>
        </form>
    </div>




    <!-- Main -->
    <div class="main">
        <div id="chatbox">
            <label id="username_chat">Username är inloggad</label>
            <div id="msg-cont">

            </div>
        </div>

    </div>

    <form id="snd-cont">

        <input id="msg-inp" type="text" name="msg-inp" placeholder="Skriv ditt meddelande.."></input><button
            id="snd-btn" type="submit">Skicka</button>

    </form>




</body>

</html>